* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Merriweather", sans-serif;
  color: #555555; }

.header {
  height: 100vh;
  padding-top: 63px; }
  .header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    background-color: white;
    border-bottom: 1px solid #b9b9b9;
    position: fixed;
    top: 0;
    left: 0;
    right: 0; }
    .header .nav .nav__heading {
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 2px; }
    .header .nav .nav__list {
      list-style: none;
      display: flex; }
      .header .nav .nav__list .nav__list-item .nav__link {
        color: #555555;
        transition: 0.25s;
        text-decoration: none; }
        .header .nav .nav__list .nav__list-item .nav__link:hover {
          color: #bfba55; }
      .header .nav .nav__list .nav__list-item.nav__list-item_margin-right {
        margin-right: 50px; }
  .header .welcome-block {
    height: 100%;
    text-align: center;
    background-blend-mode: multiply;
    background: url(../img/home-bg.jpg) top/cover, rgba(0,0,0,0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .header .welcome-block .welcome-block__heading {
      font-size: 60px;
      color: white; }
      .header .welcome-block .welcome-block__heading.welcome-block__heading_margin-bottom {
        margin-bottom: 20px; }
    .header .welcome-block .welcome-block__text {
      color: #bfba55;
      font-size: 14px; }
      .header .welcome-block .welcome-block__text.welcome-block__text_margin-bottom {
        margin-bottom: 50px; }
    .header .welcome-block .welcome-block__button {
      border-radius: 50px;
      background-color: white;
      font-weight: bold;
      font-family: "Merriweather", sans-serif;
      cursor: pointer;
      padding: 15px 20px;
      outline: none;
      color: #555555;
      text-transform: uppercase;
      font-size: 14px;
      border: none; }

.main {
  margin: 0 auto;
  max-width: 900px; }
  .main .blog-post {
    border-bottom: 1px solid #f0f0f0;
    padding: 70px 5px; }
    .main .blog-post .blog-post__header .blog-post__image {
      max-width: 100%;
      padding-bottom: 20px; }
    .main .blog-post .blog-post__header .blog-post__heading {
      color: #000; }
    .main .blog-post .blog-post__author-info {
      display: flex;
      align-items: center;
      padding: 15px 0 20px; }
      .main .blog-post .blog-post__author-info .blog-post__author-image {
        width: 40px;
        height: 40px;
        border-radius: 50%; }
        .main .blog-post .blog-post__author-info .blog-post__author-image.blog-post__author-image_margin-right {
          margin-right: 10px; }
      .main .blog-post .blog-post__author-info .blog-post__information {
        color: #636363;
        font-weight: 100; }
        .main .blog-post .blog-post__author-info .blog-post__information.blog-post__information_margin-right {
          margin-right: 30px; }
    .main .blog-post .blog-post__text {
      font-weight: 100;
      line-height: 1.5;
      font-size: 14px; }
      .main .blog-post .blog-post__text.blog-post__text_margin-bottom {
        margin-bottom: 50px; }
    .main .blog-post .blog-post__footer .blog-post__link {
      color: #777;
      font-weight: bold;
      padding: 15px 20px;
      text-decoration: none;
      border: 1px solid #777;
      border-radius: 50px; }
    .main .blog-post:last-of-type {
      padding-bottom: 150px;
      border-bottom: none; }

.footer {
  padding: 100px 150px 80px;
  display: flex;
  justify-content: space-around;
  background-color: #000; }
  .footer .footer__content {
    max-width: 500px; }
    .footer .footer__content .footer__heading {
      color: white;
      padding-bottom: 20px; }
    .footer .footer__content .footer__text {
      line-height: 1.8;
      padding-bottom: 20px; }
    .footer .footer__content .address {
      font-style: normal; }
      .footer .footer__content .address .address__text {
        padding-bottom: 10px; }
    .footer .footer__content:first-of-type {
      padding-right: 20px; }
