$fonts: 'Hind', 'Fresca', 'Sourse Sans Pro', sans-serif;
$additionalFont: 'Fresca';

$mainColor: white;
$linkColor: rgb(255,255,243);
$sectionColor: #c7c5c1;
$sectionHeadingColor: white;

$headerBackground: url(../img/m-h-night.jpg);
$mainBackground: rgb(33,35,46);
$footerBackground: rgb(59,63,80);
$sectionBackground: rgb(59,63,80);
$wordsBackground: rgb(255,78,51);
$buttonBackground: rgb(227,172,0);

$fontSizes: ("tiny": 10px, "small": 14px, "medium": 18px, "large": 24px);
$headingFontSize: 60px;

$smallLineHeight: 1.2;
$normalLineHeight: 1.5;

$borderRadius: 5px;

$gradientStart: rgb(219,160,9);
$gradientEnd: rgb(146,44,83);