$fonts: 'Hind', 'Sourse Sans Pro', 'Fresca', sans-serif;
$additionalFont: 'Hind';

$mainColor: rgb(44,47,60);
$linkColor: white;
$sectionColor: rgb(192,195,206);
$sectionHeadingColor: white;

$headerBackground: url(../img/m-h-day.jpg);
$mainBackground: white;
$footerBackground: rgb(33,35,46);
$sectionBackground: rgb(33,35,46);
$wordsBackground: rgb(20,160,199);
$buttonBackground: rgb(105,153,0);

$fontSizes: ("tiny": 10px, "small": 14px, "medium": 18px, "large": 24px);
$headingFontSize: 60px;

$smallLineHeight: 1.2;
$normalLineHeight: 1.5;

$borderRadius: 5px;

$gradientStart: rgb(104,152,2);
$gradientEnd: rgb(45,91,217);
