* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Hind", "Fresca", "Sourse Sans Pro", sans-serif;
  color: white;
  font-size: 18px;
  background-color: #21232e; }

header {
  background: url(../img/m-h-night.jpg) center/cover;
  padding: 20px 140px;
  min-height: 700px;
  border-bottom-right-radius: 50em 17em; }
  header .header-wrap .landing-logo {
    display: flex;
    margin-bottom: 50px; }
    header .header-wrap .landing-logo p {
      font-size: 24px;
      font-weight: bold;
      line-height: 1.2;
      margin-left: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      header .header-wrap .landing-logo p span {
        display: block;
        text-align: center;
        font-size: 10px; }
  header .header-wrap .header_heading {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.2;
    max-width: 500px;
    position: relative;
    z-index: 5; }
    header .header-wrap .header_heading::before {
      content: '';
      display: block;
      width: 250px;
      height: 43px;
      background-color: #ff4e33;
      position: absolute;
      bottom: 12px;
      left: 1px;
      z-index: -1; }
  header .header-wrap .header_text {
    white-space: pre-line;
    margin-bottom: 50px; }
  header .header-wrap .header_text + div .header_button {
    color: white;
    background-color: #e3ac00;
    padding: 15px 40px;
    font-weight: 600;
    border: #699900;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 90px; }
  header .header-wrap .header_text + div .login {
    color: white; }

main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px 0;
  text-align: center;
  color: #c7c5c1; }
  main .section_text, main .section_banner .section_banner_text_wrap .section_banner_heading {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    color: white; }
    main .section_text::before, main .section_banner .section_banner_text_wrap .section_banner_heading::before {
      content: '';
      display: block;
      width: 111px;
      height: 30px;
      background-color: #ff4e33;
      position: absolute;
      left: 487px;
      bottom: 10px;
      z-index: -1; }
  main .section_card {
    display: flex;
    justify-content: space-between;
    background-color: #3b3f50;
    margin-bottom: 20px;
    padding: 15px;
    min-height: 300px;
    border-radius: 5px; }
    main .section_card .section_card_img {
      width: 85%;
      flex-shrink: 0.75;
      border-radius: 5px; }
    main .section_card .section_card_right_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0 70px; }
      main .section_card .section_card_right_container .section_card_heading {
        font-size: 24px;
        font-weight: bold;
        color: white; }
      main .section_card .section_card_right_container .section_card_text {
        margin: 30px 0 20px;
        font-size: 14px;
        text-align: justify;
        font-family: "Fresca";
        line-height: 1.5; }
      main .section_card .section_card_right_container .section_link {
        color: #c7c5c1;
        font-size: 14px; }
  main .section_banner {
    width: 1000px;
    min-height: 110px;
    background: linear-gradient(to right, #dba009, #922c53);
    border-radius: 5px;
    transform: translate(-20px, 70%);
    display: flex;
    justify-content: space-around;
    align-items: center; }
    main .section_banner .section_banner_text_wrap {
      margin-bottom: 10px; }
      main .section_banner .section_banner_text_wrap .section_banner_heading {
        margin: 0;
        z-index: 5; }
        main .section_banner .section_banner_text_wrap .section_banner_heading::before {
          left: 98px;
          width: 53px;
          bottom: 10px; }
      main .section_banner .section_banner_text_wrap .section_banner_text {
        font-size: 14px;
        text-align: justify;
        font-family: "Fresca";
        line-height: 1.5; }
    main .section_banner .section_banner_button {
      color: white;
      background-color: #e3ac00;
      padding: 15px 40px;
      font-weight: 600;
      border: #699900;
      border-radius: 3px;
      cursor: pointer; }

footer {
  background-color: #3b3f50;
  min-height: 250px;
  padding: 50px;
  display: flex;
  align-items: flex-end;
  color: #c7c5c1; }
  footer .footer-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    footer .footer-wrap .footer_logo {
      display: flex;
      align-items: center; }
      footer .footer-wrap .footer_logo p {
        font-size: 24px;
        font-weight: bold;
        line-height: 1.2;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        footer .footer-wrap .footer_logo p span {
          display: block;
          text-align: center;
          font-size: 10px; }
    footer .footer-wrap .footer_text {
      font-size: 14px;
      text-align: justify;
      font-family: "Fresca";
      line-height: 1.5;
      max-width: 300px; }
